
.card-text {
    font-size: 10pt;
}
.santehplast-card {
    height: 300px;    
}
.santehplast-card .card-text {
    overflow: hidden;
}

.product-filter {
    text-align: center;
}
.product-filter button {
    font: 10pt/1.5 Verdana, Tahoma, Arial, sans-serif;

}
.product-filter button:hover {
    background-color: rgb(250, 239, 239);

}
a {
    text-decoration: none;
}

.slider_wrap{
    /* height: 220px;
    border-radius: 5px; */
}
.slider img{
    height: 200px;
    border-radius: 5px;
    /* margin-bottom: 30px; */
}
/* $btn-hover-bg-shade-amount: 2%; */



