
header > ul li {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 17px 5px;
  margin: 0 auto;
}

.search-input {
  width: 300px;
  margin: 10px;
}

.logo {
  width: 230px;
}