.sure {
  display: flex;
 width: 55%;

  justify-content: space-between;
  align-items: start;
  /* height: 100vh; */



}

.sure ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width:fit-content;
}

.sure ul li {
  margin-bottom: 10px;
  display: inline-block;
  margin: 10px;
  display: flex;
  
  
}


.sure ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  color: #333;
  font-weight: bold;
  /* flex-grow: 1; */
  width: 100%;
}

.sure ul li a:hover {
  background-color: #f0f0f0;
}